.counterButton{
    font-size: 15px;
    background-Color: #00a5ab;
    width: 100px;
    margin: 10px;
    color: white;
    padding: 15px;
    border-radius: 30px;
    border-color: black;
    border-width: 2px;
}

.count{
    font-size: 50px;
    padding: 20px;
}

.resetButton{
    margin: 20px;
    background-Color: lightgreen;
    width: 100px;
    color: blueviolet;
    padding: 10px;
    border-radius: 30px;
    border-color: black;
    border-width: 3px;
}